<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.card.card-testimonial.card-plain .content p{
  font-weight:bold !important;

}

.card.card-plain.card-blog  p.card-description{
  font-weight:bold !important;
  text-align:justify !important;
}

.card.card-plain.card-blog  a{
  font-weight:bold !important;
  text-align:center !important;
  color:#117ac0 !important;
}

div#gallery-section {
    margin-top: -60px !important;
}

.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
    margin-bottom: 5px !important;
}

a.qlwapp-toggle {
  background:lightblue !important;
}
div#order a{
  width: 117px !important;
}
</style>
<!-- end Simple Custom CSS and JS -->
